.avatar {
    width: 2.625rem;
    height: 2.625rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5rem;
    color: #fff;
    background-color: #333;
    font-weight: 500;
}

