.alert {
    border: none;
    border-left: 5px solid #333;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.0);
}

.alert.alert-primary {
    border-left: 5px solid var(--primary-color);
}

.alert.alert-secondary {
    border-left: 5px solid var(--secondary-color);
}

.alert.alert-success {
    border-left: 5px solid var(--success-color);
}

.alert.alert-danger {
    border-left: 5px solid var(--danger-color);
}

.alert.alert-warning {
    border-left: 5px solid var(--warning-color);
}

.alert.alert-info {
    border-left: 5px solid var(--info-color);
}

.alert.alert-light {
    border-left: 5px solid var(--background-light-color);
}